a{
    color: blue;
}
a:hover{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: rgb(201, 38, 174);
}

a:active{
    color: aqua;
}

/* o active e visited funciona somente para a tag ancora (a) mas o hover posso utilizar em varias coisas inclusive em imagens */

a:hover + .caixa{
    display: block;
}

.caixa{
    display: none;
    background: gray;
    width: 250px;
    height: 250px;
    text-align: center;
}

.caixa:hover{
    background: pink;
    color: blue;
}

ul li:first-child{
   color: blue;  /* aplica a regra para o primeiro filho */
}

ul li:last-child{
    color: rgb(214, 15, 108);  /* aplica a regra para o ultimo filho */
}

.exemplo1{
    width: 350px;
    height: 350px;        
}

.exemplo1 p:first-child{
    color: rgb(255, 10, 10);
}

.exemplo2{
    width: 350px;
    height: 350px;     
}

.exemplo2 p:nth-child(4){
    color: blueviolet;
}