h1{
    text-shadow: 2px 0 3px rgb(233, 44, 44);
    /* Adiciona sombra ao texto */
}

p{
    font-size: 30px;
    color: red;
    text-align: center; /*mantem o texto ao centro*/
    /* right: deixa o texto a direita
       left: deixa o texto a esquerda e esse é o padrão 
       justify: Deixa o texto alinhado certinho
       */
    font-weight: bold; /*deixa negrito */
    font-style: italic; /*deixa o texto em italico*/
    text-transform: capitalize; /*permite que coloque o texto em caixa alta, baixa...*/
    line-height: 50px;
}

a {
    text-decoration: none;
    /* letter-space: adiciona espço entre as letras 
       word-space: adiciona espaço entre as palavras
       line-heigth: adiciona espaço entre uma linha e outra*/
}