

.conteudo{
    position: relative; /*determina que todos os elementos absolute que forem filhos dele serão posicionados relativo a ele e não ao body*/
    height: 500px;
    border: 1px solid black;
    padding: 20px;
}

.quadrado{
    position: absolute;
    bottom: 70px; /* posso substituir o top por botton para fixar no rodapé*/
    right: 40px;
    width: 40px;
    height: 40px;
    background: rgb(12, 12, 12);
    color: aliceblue;
    text-align: center;
}